<!DOCTYPE html>
<html>
  <head>
    <title>Edit Task</title>
  </head>
  <body>
    <h1>Edit Task</h1>
    <form method="POST" action="/tasks/<%= task._id %>?_method=PUT">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= task.title %>"><br>
      <label for="description">Description:</label>
      <textarea id="description" name="description"><%= task.description %></textarea><br>
      <button type="submit">Update Task</button>
    </form>
  </body>
</html>
